*{
	padding: 0;
	margin: 0;
	border: 0;
	list-style-type: none;
	font-family: arial;
}
#main{
	width: 942px;
	margin: 0 auto;
}
#nav{
	height: 50px;
	border-bottom: 3px solid rgba(0,0,0,0.25);
    line-height: 50px;
	font-size: 30px;
}
#title{
	border-bottom: 3px solid rgba(0,0,0,0.25);
	height: 170px;
	line-height: 170px;
	font-size: 85px;
	text-align: center;
}
img{
	display: block;
}
.img{
	height: 400px;
	width: 302px;
	border-bottom: 1px solid black;
	//background-image: url(920152b13571a9a38f7f3c98ec5a6b3f_122_122.jpg);
	//background-size:100% 100%;
	//background-repeat: no-repeat;
	vertical-align: middle;
				border-top-left-radius: 7%;
				border-top-right-radius: 7%;
}
.item{
	float: left;
	height: 500px;
	width: 302px;
	border: 1px solid black;
	margin: 10px 5px;
	background-repeat: no-repeat;
	font-size: 65px;
	text-align: center;
	line-height: 100px;
				border-radius: 6.5%;
}
#hw-img{
			height: 750px;
			width: 550px;
			border: 5px solid black;
			margin: 75px auto 30px;
				border-radius: 100px;
				outline: none;
}
#upload-form{
	 		width: 550px;
 			margin: 0 auto;
				font-size: 40px;
				line-height: 40px;
				text-align: top;
				padding-left: 35px;
}
input{
				width: 500px;
				border: 1px solid black;
				height: 70px;
				line-height: 40px;
				text-align: center;
				font-size: 40px;
				margin: 0 auto 10px;		
				border-radius: 35px;
}
input[type="text"]{
				margin-left: 30px;
				width: 380px;
}